openapi: 3.1.0
info:
  title: Scrunch Data API
  version: 0.1.0
servers:
- url: https://api.scrunchai.com/v1
paths:
  /{brand_id}/sites/{site_id}/agent-traffic:
    get:
      tags:
      - agent-traffic
      summary: Get Agent Traffic
      description: 'Retrieve aggregated bot and AI agent traffic data for a specific site.


        This endpoint provides visibility into how AI agents and bots are accessing your web properties.
        Use it to analyze traffic patterns, identify top agents, and understand crawl behavior over time.


        ## Available Dimensions


        The following dimensions can be included in the `fields` parameter to group results:


        | Field | Description |

        |-------|-------------|

        | `date` | Daily timestamp for the traffic record |

        | `site` | The site domain being analyzed |

        | `path` | URL path on the site |

        | `agent_source` | The source/origin of the agent (e.g., OpenAI, Google, Anthropic) |

        | `agent_type` | Classification of the agent type |


        ## Metrics


        Traffic counts are automatically included in the response based on the selected dimensions.'
      operationId: getAgentTraffic
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: site_id
        in: path
        required: true
        schema:
          anyOf:
          - type: string
            minLength: 26
            maxLength: 26
            pattern: '[0-7][0123456789ABCDEFGHJKMNPQRSTVWXYZ]{25}'
          - type: string
            format: binary
            minLength: 16
            maxLength: 16
          description: The unique identifier of the site to retrieve agent traffic for.
          title: Site Id
        description: The unique identifier of the site to retrieve agent traffic for.
      - name: start_date
        in: query
        required: true
        schema:
          type: string
          format: date
          description: 'Start date for the query range (inclusive). Format: YYYY-MM-DD.'
          title: Start Date
        description: 'Start date for the query range (inclusive). Format: YYYY-MM-DD.'
      - name: end_date
        in: query
        required: true
        schema:
          type: string
          format: date
          description: 'End date for the query range (inclusive). Format: YYYY-MM-DD.'
          title: End Date
        description: 'End date for the query range (inclusive). Format: YYYY-MM-DD.'
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of dimensions to include in the response. Available dimensions:
            `date`, `site`, `path`, `agent_source`, `agent_type`. If not specified, returns aggregated
            totals.'
          title: Fields
        description: 'Comma-separated list of dimensions to include in the response. Available dimensions:
          `date`, `site`, `path`, `agent_source`, `agent_type`. If not specified, returns aggregated totals.'
      - name: time_bucket
        in: query
        required: false
        schema:
          enum:
          - day
          - week
          type: string
          description: 'Time aggregation bucket for grouping results. Options: `day`, `week`, `month`.
            Defaults to `day`.'
          default: day
          title: Time Bucket
        description: 'Time aggregation bucket for grouping results. Options: `day`, `week`, `month`. Defaults
          to `day`.'
      - name: path
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter results to a specific URL path or path prefix.
          title: Path
        description: Filter results to a specific URL path or path prefix.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100000
          minimum: 1
          description: Maximum number of rows to return. Use with offset for pagination.
          default: 10000
          title: Limit
        description: Maximum number of rows to return. Use with offset for pagination.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of rows to skip before returning results. Use with limit for pagination.
          default: 0
          title: Offset
        description: Number of rows to skip before returning results. Use with limit for pagination.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentTrafficResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/ai-referrals/connections/{connection_id}:
    delete:
      tags:
      - ai-referrals
      summary: Disable AI Referrals Connection
      description: Soft-disable a connection. Previously pushed events are retained but further pushes
        are rejected with `410 Gone` and the dashboard stops reading from this connection.
      operationId: disableAiReferralsConnection
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
        description: The unique identifier for the brand.
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
          title: Connection Id
        description: The ULID of the AI Referrals connection.
      responses:
        '200':
          description: Connection disabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiReferralsConnection'
        '404':
          description: Connection not found for this brand.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
  /{brand_id}/ai-referrals/connections:
    get:
      tags:
      - ai-referrals
      summary: List AI Referrals Connections
      description: List AI Referrals push connections registered for this brand. Scope is limited to push
        connections only — Google Analytics integrations live in a separate system and are not returned
        here, even though they can block a register call with `409`.
      operationId: listAiReferralsConnections
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
        description: The unique identifier for the brand.
      responses:
        '200':
          description: List of connections.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AiReferralsConnection'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
    post:
      tags:
      - ai-referrals
      summary: Register AI Referrals Connection
      description: 'Register an AI Referrals push connection for a (brand, website, provider) tuple. Events
        can only be pushed once a connection exists.


        A brand cannot have both a Google Analytics integration and an active AI Referrals push connection
        for the same website — the conflicting integration must be disabled first.


        MVP provider allow-list: `adobe_analytics`.'
      operationId: registerAiReferralsConnection
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
        description: The unique identifier for the brand.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiReferralsConnectionCreate'
      responses:
        '201':
          description: Connection registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiReferralsConnection'
        '400':
          description: Invalid provider or payload.
        '409':
          description: A connection or conflicting integration already exists for this (brand, website).
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
  /{brand_id}/ai-referrals/connections/{connection_id}/events:
    post:
      tags:
      - ai-referrals
      summary: Push AI Referrals Events
      description: 'Push a batch of pre-aggregated daily AI-referral events for a registered connection.


        Accepts `application/json` (a JSON array of events) or `application/x-ndjson` (one event per line).
        The upsert key is `(date, raw_referrer_value, raw_page_value)` — re-sending the same tuple replaces
        the prior values, so backfills and corrections are safe to retry.


        Limits:

        - Maximum 10,000 events per batch.

        - Maximum 5 MB request body.'
      operationId: pushAiReferralsEvents
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
        description: The unique identifier for the brand.
      - name: connection_id
        in: path
        required: true
        schema:
          type: string
          title: Connection Id
        description: The ULID of the AI Referrals connection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AiReferralsEvent'
          application/x-ndjson:
            schema:
              type: string
              description: Newline-delimited JSON, one event object per line.
      responses:
        '200':
          description: Batch accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiReferralsSaveResult'
        '400':
          description: Malformed payload (invalid JSON, empty body, unexpected shape).
        '404':
          description: Connection not found for this brand.
        '410':
          description: Connection is disabled; re-register before retrying.
        '413':
          description: Payload too large (over 10,000 events or 5 MB).
        '422':
          description: One or more events failed validation.
      security:
      - HTTPBearer:
        - configure
  /brands/{brand_id}/competitors/{competitor_id}:
    delete:
      summary: Archive Competitor
      description: Archive a competitor
      operationId: archiveCompetitor
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: competitor_id
        in: path
        required: true
        schema:
          type: integer
          title: Competitor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
    get:
      summary: Get Competitor
      description: Get a competitor by ID
      operationId: getCompetitor
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: competitor_id
        in: path
        required: true
        schema:
          type: integer
          title: Competitor Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICompetitorListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
    put:
      summary: Update Competitor
      description: Update a competitor
      operationId: updateCompetitor
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: competitor_id
        in: path
        required: true
        schema:
          type: integer
          title: Competitor Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APICompetitorUpdateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICompetitorListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
  /brands/{brand_id}/personas/{persona_id}:
    delete:
      summary: Archive Persona
      description: Archive a persona
      operationId: archivePersona
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: persona_id
        in: path
        required: true
        schema:
          type: integer
          title: Persona Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
    get:
      summary: Get Persona
      description: Get a persona by ID
      operationId: getPersona
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: persona_id
        in: path
        required: true
        schema:
          type: integer
          title: Persona Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIPersonaListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
    put:
      summary: Update Persona
      description: Update a persona
      operationId: updatePersona
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: persona_id
        in: path
        required: true
        schema:
          type: integer
          title: Persona Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIPersonaUpdateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIPersonaListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
  /{brand_id}/prompts/{prompt_id}:
    delete:
      summary: Archive Prompt
      description: Archives a prompt (soft delete). The prompt will no longer be tracked but historical
        data is preserved. Requires the `configure` scope.
      operationId: archivePrompt
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier for the brand
          title: Brand Id
        description: The unique identifier for the brand
      - name: prompt_id
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier for the prompt to archive
          title: Prompt Id
        description: The unique identifier for the prompt to archive
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
  /orchestration/render-bulk/{brand_id}/sites/{site_id}:
    post:
      tags:
      - axp-render
      summary: Bulk Render Optimized Pages
      description: 'Queue render jobs for a list of paths on a registered AXP site. Each path is fetched,
        sanitized, and persisted as an AXP optimized page asynchronously, so the endpoint returns immediately
        with one job entry per input path.


        Paths are normalized (trimmed and given a leading slash) and deduplicated before queueing. A path
        that already has an in-flight job on the same site coalesces onto that job, so the same batch
        can be retried safely. Inputs are capped at 100 paths per call.'
      operationId: bulkRenderOptimizedPages
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
          description: The unique identifier for the brand that owns the site.
        description: The unique identifier for the brand that owns the site.
      - name: site_id
        in: path
        required: true
        schema:
          type: string
          title: Site Id
          description: The ULID of the registered AXP site to render pages on.
        description: The ULID of the registered AXP site to render pages on.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AXPBulkRenderRequest'
      responses:
        '200':
          description: One item per unique path with the queued job id and current status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AXPBulkRenderItem'
                title: AXPBulkRenderResponse
        '400':
          description: Site is not active for AXP or has no domain configured.
        '404':
          description: Site not found for the supplied brand.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '502':
          description: Render jobs were queued but at least one Inngest dispatch failed. Pending jobs
            are marked failed; retry the affected paths.
      security:
      - HTTPBearer:
        - configure
      servers:
      - url: https://api.scrunchai.com/v2
  /brands:
    post:
      summary: Create Brand
      description: Create a new brand
      operationId: createBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APICreateBrandInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICreateBrandResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - create-brand
    get:
      summary: List Brands
      description: List available brands
      operationId: listBrands
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse_BrandListing_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /brands/{brand_id}/competitors:
    post:
      summary: Create Competitor
      description: Create a new competitor
      operationId: createCompetitor
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APICompetitorCreateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APICompetitorListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
    get:
      summary: List Competitors
      description: List competitors for a brand
      operationId: listCompetitors
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse_APICompetitorListing_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/page-audits:
    post:
      summary: Create Page Audits
      description: Create one or more page audits
      operationId: createPageAudits
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageAuditCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PageAuditRecord'
                title: Response Createpageaudits
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
    get:
      summary: List Page Audits
      description: List page audits in reverse chronological order
      operationId: listPageAudits
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - pending
            - running
            - completed
            - failed
            type: string
          - type: 'null'
          description: Filter by status
          title: Status
        description: Filter by status
      - name: url
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by URL (partial match)
          title: Url
        description: Filter by URL (partial match)
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Maximum number of results
          default: 100
          title: Limit
        description: Maximum number of results
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Offset for pagination
          default: 0
          title: Offset
        description: Offset for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse_PageTestListing_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /brands/{brand_id}/personas:
    post:
      summary: Create Persona
      description: Create a new persona
      operationId: createPersona
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIPersonaCreateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIPersonaListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
    get:
      summary: List Personas
      description: List personas for a brand
      operationId: listPersonas
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          default: 100
          title: Limit
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          title: Offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse_APIPersonaListing_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/prompts:
    post:
      summary: Create Prompt
      description: 'Creates a new prompt with variants for the specified platforms. Requires the `configure`
        scope.


        **Behavior:**

        - `stage` is optional. If omitted, the journey stage is auto-classified against your brand''s
        active stages using an LLM.

        - If `stage` is provided, it must match one of your brand''s active stages (case-sensitive display
        name). An unknown value returns `400`. An explicit stage is treated as a manual assertion and
        won''t be overwritten by later re-classification.

        - Creates variants for each specified platform.

        - Reactivates an archived prompt if a duplicate exists.

        - Dispatches collection events to begin tracking.'
      operationId: createPrompt
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier for the brand
          title: Brand Id
        description: The unique identifier for the brand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIPromptInputModel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
    get:
      summary: List Prompts
      description: Returns a paginated list of active prompts for the specified brand, including their
        variants, tags, and topics. Use this endpoint to retrieve all prompts configured for AI visibility
        tracking.
      operationId: listPrompts
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier for the brand
          title: Brand Id
        description: The unique identifier for the brand
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Maximum number of prompts to return per page.
          default: 100
          title: Limit
        description: Maximum number of prompts to return per page.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of prompts to skip for pagination.
          default: 0
          title: Offset
        description: Number of prompts to skip for pagination.
      - name: stage
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter prompts by journey stage. Values are resolved from your brand''s configured
            stages, so they vary per brand.


            **Default stage sets:**

            - **Intent (v1)** — `Advice`, `Awareness`, `Evaluation`, `Comparison`, `Other`

            - **Funnel (v2)** — `Awareness`, `Consideration`, `Conversion`, `Loyalty`, `Other`


            Brands that rename or add stages accept those custom names too. A value that doesn''t match
            any of the brand''s active stages matches zero rows rather than erroring.'
          title: Stage
        description: 'Filter prompts by journey stage. Values are resolved from your brand''s configured
          stages, so they vary per brand.


          **Default stage sets:**

          - **Intent (v1)** — `Advice`, `Awareness`, `Evaluation`, `Comparison`, `Other`

          - **Funnel (v2)** — `Awareness`, `Consideration`, `Conversion`, `Loyalty`, `Other`


          Brands that rename or add stages accept those custom names too. A value that doesn''t match
          any of the brand''s active stages matches zero rows rather than erroring.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse_PromptListing_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /{brand_id}/page-audits/{page_audit_id}:
    get:
      summary: Get Page Audit
      description: Get a specific page audit by ID
      operationId: getPageAudit
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: page_audit_id
        in: path
        required: true
        schema:
          type: string
          title: Page Audit Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageTestResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/responses:
    get:
      summary: List Responses
      description: 'Returns AI responses (observations) with full evaluation data, citations, and competitor
        analysis. Each response represents a single AI-generated answer to a tracked prompt.


        This endpoint provides the raw response data needed for deep analysis, audits, and research. For
        aggregated metrics, use the Query API instead.


        **Response data includes:**

        - Full response text from the AI platform

        - Brand evaluation (presence, sentiment, position)

        - Competitor evaluations with individual metrics

        - Citations with source classification (brand/competitor/other)

        - Prompt and persona context'
      operationId: listResponses
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          description: The unique identifier for the brand
          title: Brand Id
        description: The unique identifier for the brand
      - name: platform
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            enum:
            - chatgpt
            - claude
            - google_ai_overviews
            - perplexity
            - meta
            - google_ai_mode
            - google_gemini
            - copilot
            - grok
          - type: 'null'
          description: 'Filter responses by AI platform.


            **Supported platforms:**

            - `chatgpt` - OpenAI ChatGPT

            - `claude` - Anthropic Claude

            - `google_ai_overviews` - Google AI Overviews (Search)

            - `perplexity` - Perplexity AI

            - `meta` - Meta AI

            - `google_ai_mode` - Google AI Mode

            - `google_gemini` - Google Gemini

            - `copilot` - Microsoft Copilot'
          title: Platform
        description: 'Filter responses by AI platform.


          **Supported platforms:**

          - `chatgpt` - OpenAI ChatGPT

          - `claude` - Anthropic Claude

          - `google_ai_overviews` - Google AI Overviews (Search)

          - `perplexity` - Perplexity AI

          - `meta` - Meta AI

          - `google_ai_mode` - Google AI Mode

          - `google_gemini` - Google Gemini

          - `copilot` - Microsoft Copilot'
      - name: prompt_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Filter responses to a specific prompt by its ID
          title: Prompt Id
        description: Filter responses to a specific prompt by its ID
      - name: persona_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Filter responses to a specific persona by its ID
          title: Persona Id
        description: Filter responses to a specific persona by its ID
      - name: stage
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter responses by customer journey stage. Values are resolved from your brand''s
            configured stages, so they vary per brand.


            **Default stage sets:**

            - **Intent (v1)** — `Advice`, `Awareness`, `Evaluation`, `Comparison`, `Other`

            - **Funnel (v2)** — `Awareness`, `Consideration`, `Conversion`, `Loyalty`, `Other`


            Brands that rename or add stages accept those custom names too.'
          title: Stage
        description: 'Filter responses by customer journey stage. Values are resolved from your brand''s
          configured stages, so they vary per brand.


          **Default stage sets:**

          - **Intent (v1)** — `Advice`, `Awareness`, `Evaluation`, `Comparison`, `Other`

          - **Funnel (v2)** — `Awareness`, `Consideration`, `Conversion`, `Loyalty`, `Other`


          Brands that rename or add stages accept those custom names too.'
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Only return responses collected on or after this date (inclusive). Format: YYYY-MM-DD'
          title: Start Date
        description: 'Only return responses collected on or after this date (inclusive). Format: YYYY-MM-DD'
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Only return responses collected before this date (exclusive). Format: YYYY-MM-DD'
          title: End Date
        description: 'Only return responses collected before this date (exclusive). Format: YYYY-MM-DD'
      - name: has_shopping_data
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter responses by shopping data presence. True returns only responses with shopping
            results, False returns only responses without.
          title: Has Shopping Data
        description: Filter responses by shopping data presence. True returns only responses with shopping
          results, False returns only responses without.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          description: Maximum number of responses to return per page
          default: 100
          title: Limit
        description: Maximum number of responses to return per page
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of responses to skip for pagination
          default: 0
          title: Offset
        description: Number of responses to skip for pagination
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse_ResponseListing_'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /orchestration/optimize-and-deploy/{brand_id}:
    post:
      tags:
      - orchestration
      summary: Create Optimize And Deploy Pipeline
      description: 'Create an orchestrated pipeline: audit pages, optimize content, and deploy to AXP'
      operationId: createOptimizeAndDeployPipeline
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrchestrationCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestrationCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
      servers:
      - url: https://api.scrunchai.com/v2
  /orchestration/optimize-and-deploy/{brand_id}/{token}:
    get:
      tags:
      - orchestration
      summary: Get Pipeline Status
      description: Get the status of an optimize-and-deploy pipeline by token
      operationId: getOptimizeAndDeployStatus
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: token
        in: path
        required: true
        schema:
          type: string
          title: Token
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrchestrationStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
      servers:
      - url: https://api.scrunchai.com/v2
  /{brand_id}/query:
    get:
      summary: Query
      description: 'Query the data API to retrieve aggregated observation data across multiple dimensions
        and metrics. This endpoint dynamically generates SQL queries based on the requested fields, allowing
        flexible aggregation for analytics and reporting workflows.


        The query endpoint returns pre-aggregated metrics grouped by the specified dimensions. Results
        are optimized for BI tools, reporting pipelines, and dashboards.'
      operationId: query
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Start date for the query range (inclusive). Format: YYYY-MM-DD. Defaults to 30
            days ago. Empty or whitespace-only values are treated as missing and the default is applied.
            Malformed values (e.g. `2024-02-30`) return HTTP 400.'
          title: Start Date
        description: 'Start date for the query range (inclusive). Format: YYYY-MM-DD. Defaults to 30 days
          ago. Empty or whitespace-only values are treated as missing and the default is applied. Malformed
          values (e.g. `2024-02-30`) return HTTP 400.'
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'End date for the query range (inclusive). Format: YYYY-MM-DD. Defaults to today.
            Empty or whitespace-only values are treated as missing and the default is applied. Malformed
            values (e.g. `2024-02-30`) return HTTP 400.'
          title: End Date
        description: 'End date for the query range (inclusive). Format: YYYY-MM-DD. Defaults to today.
          Empty or whitespace-only values are treated as missing and the default is applied. Malformed
          values (e.g. `2024-02-30`) return HTTP 400.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 90000
          minimum: 1
          description: Maximum number of rows to return. Use with offset for pagination.
          default: 50000
          title: Limit
        description: Maximum number of rows to return. Use with offset for pagination.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Number of rows to skip for pagination.
          default: 0
          title: Offset
        description: Number of rows to skip for pagination.
      - name: fields
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Comma-separated list of dimensions and/or metrics to include in the query results.
            If omitted, all dimensions are returned.


            **Supported Dimensions:**

            - `date` - Daily timestamp (YYYYMMDD)

            - `date_week` - ISO week (YYYYWW)

            - `date_month` - Month (YYYYMM)

            - `date_quarter` - Quarter (YYYYQ#)

            - `date_year` - Year (YYYY)

            - `prompt_id` - Prompt ID (Integer)

            - `prompt` - Prompt text (String)

            - `persona_id` - Persona ID (Integer)

            - `persona_name` - Persona name (String)

            - `ai_platform` - AI platform name (String, mapped)

            - `ai_platform_search_enabled` - Search mode enabled (Boolean)

            - `tag` - Prompt tag (String)

            - `source_url` - Citation URL (String)

            - `source_type` - Citation type (brand, competitor, other)

            - `source_domain` - Citation host (String, www-stripped)

            - `competitor_id` - Competitor ID (Integer)

            - `competitor_name` - Competitor name (String)

            - `branded` - Branded prompt (Boolean)

            - `stage` - Journey stage (Display name)

            - `prompt_topic` - Topic name (String)

            - `country` - Geography (Country code)

            - `position_bucket` - Brand position bucket (top/middle/bottom)

            - `sentiment_band` - Brand sentiment band (positive/mixed/negative/none)


            **Supported Metrics:**

            - `responses` - Total responses (COUNT of distinct observations)

            - `brand_presence_percentage` - Brand mention rate (0-1 scale)

            - `brand_position_score` - Brand positioning (0-100 scale: top=100, middle=50, bottom=0)

            - `brand_sentiment_score` - Brand sentiment (0-100 scale: positive=100, mixed=50, negative=0)

            - `competitor_presence_percentage` - Competitor mention rate (0-1 scale)

            - `competitor_position_score` - Competitor positioning (0-100 scale)

            - `competitor_sentiment_score` - Competitor sentiment (0-100 scale)

            - `brand_citation_rate` / `competitor_citation_rate` - Share of responses citing an entity-owned
            source (0-1)

            - `brand_citation_share_of_voice` / `competitor_citation_share_of_voice` - Of responses that
            cite anything, share that cite an entity-owned source (0-1)

            - `citation_count` - Total citation occurrences across responses

            - `citation_unique_responses` - Distinct responses with at least one citation

            - `citation_unique_domains` - Distinct citation hosts (www-stripped)


            **Example:** `fields=date,ai_platform,brand_presence_percentage`'
          title: Fields
        description: 'Comma-separated list of dimensions and/or metrics to include in the query results.
          If omitted, all dimensions are returned.


          **Supported Dimensions:**

          - `date` - Daily timestamp (YYYYMMDD)

          - `date_week` - ISO week (YYYYWW)

          - `date_month` - Month (YYYYMM)

          - `date_quarter` - Quarter (YYYYQ#)

          - `date_year` - Year (YYYY)

          - `prompt_id` - Prompt ID (Integer)

          - `prompt` - Prompt text (String)

          - `persona_id` - Persona ID (Integer)

          - `persona_name` - Persona name (String)

          - `ai_platform` - AI platform name (String, mapped)

          - `ai_platform_search_enabled` - Search mode enabled (Boolean)

          - `tag` - Prompt tag (String)

          - `source_url` - Citation URL (String)

          - `source_type` - Citation type (brand, competitor, other)

          - `source_domain` - Citation host (String, www-stripped)

          - `competitor_id` - Competitor ID (Integer)

          - `competitor_name` - Competitor name (String)

          - `branded` - Branded prompt (Boolean)

          - `stage` - Journey stage (Display name)

          - `prompt_topic` - Topic name (String)

          - `country` - Geography (Country code)

          - `position_bucket` - Brand position bucket (top/middle/bottom)

          - `sentiment_band` - Brand sentiment band (positive/mixed/negative/none)


          **Supported Metrics:**

          - `responses` - Total responses (COUNT of distinct observations)

          - `brand_presence_percentage` - Brand mention rate (0-1 scale)

          - `brand_position_score` - Brand positioning (0-100 scale: top=100, middle=50, bottom=0)

          - `brand_sentiment_score` - Brand sentiment (0-100 scale: positive=100, mixed=50, negative=0)

          - `competitor_presence_percentage` - Competitor mention rate (0-1 scale)

          - `competitor_position_score` - Competitor positioning (0-100 scale)

          - `competitor_sentiment_score` - Competitor sentiment (0-100 scale)

          - `brand_citation_rate` / `competitor_citation_rate` - Share of responses citing an entity-owned
          source (0-1)

          - `brand_citation_share_of_voice` / `competitor_citation_share_of_voice` - Of responses that
          cite anything, share that cite an entity-owned source (0-1)

          - `citation_count` - Total citation occurrences across responses

          - `citation_unique_responses` - Distinct responses with at least one citation

          - `citation_unique_domains` - Distinct citation hosts (www-stripped)


          **Example:** `fields=date,ai_platform,brand_presence_percentage`'
      - name: filters
        in: query
        required: false
        schema:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          description: 'Filter rows by dimension values **before** aggregation. Each filter uses the format
            `field:value`. Multiple values are joined with `|` for an IN match (e.g. `ai_platform:ChatGPT|Claude`).
            Prefix the value with `!` for negation (e.g. `branded:!true`). The `filters` parameter can
            be repeated to apply multiple filters; they are combined with AND.


            Filterable dimensions: `prompt_id`, `persona_id`, `persona_name`, `ai_platform`, `ai_platform_search_enabled`,
            `tag`, `competitor_id`, `competitor_name`, `branded`, `stage`, `prompt_topic`, `country`,
            `position_bucket`, `sentiment_band`, `date`, `date_week`, `date_month`, `date_quarter`, `date_year`.


            **Example:** `filters=ai_platform:ChatGPT&filters=branded:true`'
          title: Filters
        description: 'Filter rows by dimension values **before** aggregation. Each filter uses the format
          `field:value`. Multiple values are joined with `|` for an IN match (e.g. `ai_platform:ChatGPT|Claude`).
          Prefix the value with `!` for negation (e.g. `branded:!true`). The `filters` parameter can be
          repeated to apply multiple filters; they are combined with AND.


          Filterable dimensions: `prompt_id`, `persona_id`, `persona_name`, `ai_platform`, `ai_platform_search_enabled`,
          `tag`, `competitor_id`, `competitor_name`, `branded`, `stage`, `prompt_topic`, `country`, `position_bucket`,
          `sentiment_band`, `date`, `date_week`, `date_month`, `date_quarter`, `date_year`.


          **Example:** `filters=ai_platform:ChatGPT&filters=branded:true`'
      - name: having
        in: query
        required: false
        schema:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          description: 'Filter **aggregated** metric values after GROUP BY. Each entry uses `metric:operator:value`
            format.


            **Operators:** `gt`, `gte`, `lt`, `lte`, `eq`, `neq`.


            **Example:** `having=brand_presence_percentage:gt:0&having=responses:gte:10`'
          title: Having
        description: 'Filter **aggregated** metric values after GROUP BY. Each entry uses `metric:operator:value`
          format.


          **Operators:** `gt`, `gte`, `lt`, `lte`, `eq`, `neq`.


          **Example:** `having=brand_presence_percentage:gt:0&having=responses:gte:10`'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request — `start_date` or `end_date` is not a valid `YYYY-MM-DD` calendar date.
            The response body's `detail` includes the offending value.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
  /{brand_id}/sitemap/export:
    get:
      tags:
      - sitemap
      summary: Export Sitemap Pages
      description: 'Download every page matching the supplied filters as CSV or XLSX. Uses the same filters
        as the list endpoint but skips pagination.


        With `include_metrics=true` (the default), each row also includes totals over the selected date
        range for `agent_traffic`, `citations`, and `ai_referrals`, plus a percent-change column comparing
        the first and last buckets of the range — matching the totals and trend percentages shown in the
        sitemap UI.


        Limits:

        - Maximum 10,000 rows per export.

        - Maximum 366-day window for `start_date`/`end_date`.


        The response sets `Content-Disposition` with a `sitemap-{brand_id}-{YYYY-MM-DD}.{csv|xlsx}` filename.'
      operationId: exportSitemapPages
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
          description: The unique identifier for the brand.
        description: The unique identifier for the brand.
      - name: format
        in: query
        required: false
        schema:
          type: string
          enum:
          - csv
          - xlsx
          default: csv
          description: Output format. `csv` returns a UTF-8 (BOM) CSV stream. `xlsx` returns a binary
            Excel workbook.
          title: Format
        description: Output format. `csv` returns a UTF-8 (BOM) CSV stream. `xlsx` returns a binary Excel
          workbook.
      - name: mapped_site_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: Explicit sitemap (mapped site) identifier to export. Defaults to the latest finished
            crawl for the brand and optional `domain`.
          title: Mapped Site Id
        description: Explicit sitemap (mapped site) identifier to export. Defaults to the latest finished
          crawl for the brand and optional `domain`.
      - name: domain
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter to a specific domain when the brand has multiple registered sites.
          title: Domain
        description: Filter to a specific domain when the brand has multiple registered sites.
      - name: max_depth
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: Maximum URL path depth to include. `0` returns root pages only.
          title: Max Depth
        description: Maximum URL path depth to include. `0` returns root pages only.
      - name: path_prefix
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by segment-aligned URL path prefix.
          title: Path Prefix
        description: Filter by segment-aligned URL path prefix.
      - name: is_priority
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter to (or exclude) priority pages.
          title: Is Priority
        description: Filter to (or exclude) priority pages.
      - name: has_optimized_content
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter to (or exclude) pages with active AXP optimized content.
          title: Has Optimized Content
        description: Filter to (or exclude) pages with active AXP optimized content.
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Case-insensitive substring match against the page URL or title.
          title: Search
        description: Case-insensitive substring match against the page URL or title.
      - name: include_metrics
        in: query
        required: false
        schema:
          type: boolean
          default: true
          description: Include per-page totals and percent-change columns for `agent_traffic`, `citations`,
            and `ai_referrals` over the selected date range.
          title: Include Metrics
        description: Include per-page totals and percent-change columns for `agent_traffic`, `citations`,
          and `ai_referrals` over the selected date range.
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Metrics start date (YYYY-MM-DD). Defaults to 30 days ago.
          title: Start Date
        description: Metrics start date (YYYY-MM-DD). Defaults to 30 days ago.
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Metrics end date (YYYY-MM-DD). Defaults to today.
          title: End Date
        description: Metrics end date (YYYY-MM-DD). Defaults to today.
      responses:
        '200':
          description: Streamed export file.
          content:
            text/csv:
              schema:
                type: string
                description: UTF-8 (BOM) CSV. First row is the column header.
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
                description: XLSX workbook.
        '400':
          description: Invalid date range, or export would exceed the 10,000-row cap.
        '404':
          description: No matching sitemap crawl found for this brand.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/sitemap/pages/{page_id}/metrics:
    get:
      tags:
      - sitemap
      summary: Get Sitemap Page Metrics
      description: 'Return time-series performance metrics for a single page: citations, AI referrals,
        and AI agent traffic. Each metric is reported as a list of buckets keyed by date, with counts
        broken down by AI platform.


        Granularity is chosen automatically based on the requested date range — short ranges return daily
        buckets, longer ranges return weekly buckets. Date ranges are capped at 366 days.'
      operationId: getSitemapPageMetrics
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
          description: The unique identifier for the brand.
        description: The unique identifier for the brand.
      - name: page_id
        in: path
        required: true
        schema:
          type: integer
          title: Page Id
          description: The unique identifier for the page.
        description: The unique identifier for the page.
      - name: start_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
          title: Start Date
        description: Start date (YYYY-MM-DD). Defaults to 30 days ago.
      - name: end_date
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: End date (YYYY-MM-DD). Defaults to today.
          title: End Date
        description: End date (YYYY-MM-DD). Defaults to today.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitemapPageMetricsResponse'
        '400':
          description: Invalid or out-of-range date parameters.
        '404':
          description: Page not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/sitemap/pages/{page_id}:
    get:
      tags:
      - sitemap
      summary: Get Sitemap Page
      description: Get detailed information about a single page in the brand's sitemap, including title,
        description, depth, audit score, canonical URL, last-indexed timestamp, priority flag, and optimized-content
        flag.
      operationId: getSitemapPage
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
          description: The unique identifier for the brand.
        description: The unique identifier for the brand.
      - name: page_id
        in: path
        required: true
        schema:
          type: integer
          title: Page Id
          description: The unique identifier for the page.
        description: The unique identifier for the page.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitemapPageDetail'
        '404':
          description: Page not found.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /{brand_id}/sitemap/pages:
    get:
      tags:
      - sitemap
      summary: List Sitemap Pages
      description: 'List pages discovered in the brand''s sitemap with their title, description, depth,
        audit score, priority flag, and optimized-content flag.


        Results come from the most recent completed crawl for the brand. Supports filtering by domain,
        URL depth, path prefix, priority flag, optimized-content flag, and a case-insensitive substring
        search across the page URL and title.


        Results are paginated and ordered by depth then URL.'
      operationId: listSitemapPages
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
          description: The unique identifier for the brand.
        description: The unique identifier for the brand.
      - name: domain
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter to a specific domain when the brand has multiple registered sites.
          title: Domain
        description: Filter to a specific domain when the brand has multiple registered sites.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
          description: Maximum number of pages to return. Defaults to 100.
          title: Limit
        description: Maximum number of pages to return. Defaults to 100.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
          description: Number of pages to skip. Use with `limit` for pagination.
          title: Offset
        description: Number of pages to skip. Use with `limit` for pagination.
      - name: max_depth
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: Maximum URL path depth to include. `0` returns root pages only.
          title: Max Depth
        description: Maximum URL path depth to include. `0` returns root pages only.
      - name: path_prefix
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by segment-aligned URL path prefix. For example `/blog` matches `/blog`
            and `/blog/post` but not `/blogger`.
          title: Path Prefix
        description: Filter by segment-aligned URL path prefix. For example `/blog` matches `/blog` and
          `/blog/post` but not `/blogger`.
      - name: is_priority
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter to (or exclude) pages flagged as priority for the brand.
          title: Is Priority
        description: Filter to (or exclude) pages flagged as priority for the brand.
      - name: has_optimized_content
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter to (or exclude) pages with active AXP optimized content deployed.
          title: Has Optimized Content
        description: Filter to (or exclude) pages with active AXP optimized content deployed.
      - name: search
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Case-insensitive substring match against the page URL or title.
          title: Search
        description: Case-insensitive substring match against the page URL or title.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitemapPagesResponse'
        '404':
          description: No completed sitemap crawl found for this brand.
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - query
  /brands/{brand_id}:
    patch:
      summary: Update Brand
      description: 'Partially update a brand. Only fields included in the request body are modified. For
        competitors and personas, the provided list represents the full desired state: include an `id`
        to update an existing record, omit `id` to create a new one, and any existing records not in the
        list are archived.


        If you submit a persona without an `id` and its `name` matches a previously archived persona on
        the same brand, the archived persona is reactivated (its `status` returns to `active` and its
        `description` is updated) instead of creating a duplicate. This avoids unique-name conflicts when
        reusing a name that was previously archived.'
      operationId: patchBrand
      parameters:
      - name: brand_id
        in: path
        required: true
        schema:
          type: integer
          title: Brand Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIBrandPatchInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIBrandListing'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer:
        - configure
components:
  schemas:
    AgentTrafficResponse:
      properties:
        meta:
          $ref: '#/components/schemas/AgentTrafficMeta'
          description: Query metadata including fields and date range.
        data:
          items:
            $ref: '#/components/schemas/AgentTrafficRow'
          type: array
          title: Data
          description: Array of agent traffic records matching the query criteria.
      type: object
      required:
      - meta
      - data
      title: AgentTrafficResponse
      description: Response containing agent traffic data with metadata and aggregated traffic records.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    AgentTrafficMeta:
      properties:
        start_date:
          type: string
          format: date
          title: Start Date
          description: Start date of the query range.
        end_date:
          type: string
          format: date
          title: End Date
          description: End date of the query range.
        time_bucket:
          type: string
          enum:
          - day
          - week
          title: Time Bucket
          description: Time aggregation bucket used for grouping results.
      type: object
      required:
      - start_date
      - end_date
      - time_bucket
      title: AgentTrafficMeta
      description: Metadata about the agent traffic query results.
    AgentTrafficRow:
      properties:
        requests:
          type: integer
          title: Requests
          description: Number of requests/hits for this combination of dimensions.
        date:
          anyOf:
          - type: string
          - type: 'null'
          title: Date
          description: Date of the traffic record in YYYY-MM-DD format.
        site:
          anyOf:
          - type: string
          - type: 'null'
          title: Site
          description: The site domain being analyzed.
        path:
          anyOf:
          - type: string
          - type: 'null'
          title: Path
          description: URL path on the site.
        agent_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Agent Source
          description: The source/origin of the agent (e.g., OpenAI, Google, Anthropic, Microsoft).
        agent_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Agent Type
          description: Classification of the agent type (e.g., GPTBot, ClaudeBot, Google-Extended, Googlebot).
      additionalProperties: true
      type: object
      required:
      - requests
      title: AgentTrafficRow
      description: 'A single row of agent traffic data.


        Fields present depend on the dimensions requested in the query.'
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    AiReferralsConnection:
      type: object
      description: A registered AI Referrals push connection.
      properties:
        id:
          type: string
          description: ULID identifier for the connection.
        brand_id:
          type: integer
        website:
          type: string
          description: Hostname or URL of the website whose referrals are pushed against this connection.
        provider:
          type: string
          description: 'Source analytics provider. MVP allow-list: ''adobe_analytics''.'
          example: adobe_analytics
        status:
          type: string
          enum:
          - active
          - disabled
        created_at:
          type: string
          format: date-time
        last_pushed_at:
          type:
          - string
          - 'null'
          format: date-time
        last_push_error:
          type:
          - string
          - 'null'
      required:
      - id
      - brand_id
      - website
      - provider
      - status
      - created_at
    AiReferralsEvent:
      type: object
      description: One pre-aggregated daily referral row.
      required:
      - date
      - raw_referrer_value
      - raw_page_value
      properties:
        date:
          type: string
          format: date
          description: UTC calendar day the metrics cover.
          example: '2026-05-20'
        raw_referrer_value:
          type: string
          minLength: 1
          maxLength: 512
          description: Raw referrer value as emitted by the source analytics tool (e.g. 'chatgpt.com').
            Normalized server-side against the AI platform allow-list.
          example: chatgpt.com
        raw_page_value:
          type: string
          minLength: 1
          maxLength: 2048
          description: Raw page identifier from the source tool (URL path for GA4-shape tools; page name
            for Adobe unless a URL eVar is configured).
          example: /blog/launch-notes
        pageviews:
          type:
          - integer
          - 'null'
          minimum: 0
        sessions:
          type:
          - integer
          - 'null'
          minimum: 0
        transactions:
          type:
          - integer
          - 'null'
          minimum: 0
        purchase_revenue:
          type:
          - number
          - 'null'
          minimum: 0
        batch_id:
          type:
          - string
          - 'null'
          maxLength: 128
          description: Optional client-supplied batch identifier for traceability.
    AiReferralsSaveResult:
      type: object
      description: Outcome of a push batch submission.
      required:
      - accepted
      - rejected
      properties:
        accepted:
          type: integer
          description: Number of events accepted into the unified referrals store.
        rejected:
          type: integer
          description: Number of events dropped (e.g. referrer not on the AI platform allow-list).
        errors:
          type: array
          items:
            type: string
          description: Per-row diagnostic messages, truncated.
    AiReferralsConnectionCreate:
      type: object
      description: Payload to register a new AI Referrals connection.
      required:
      - website
      - provider
      properties:
        website:
          type: string
          minLength: 1
          maxLength: 2048
          description: Hostname or URL of the website whose referrals will be pushed.
          example: example.com
        provider:
          type: string
          minLength: 1
          maxLength: 64
          description: 'Source analytics provider. MVP allow-list: ''adobe_analytics''.'
          example: adobe_analytics
    AXPBulkRenderRequest:
      properties:
        paths:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 2048
          minItems: 1
          maxItems: 100
          title: Paths
          description: Paths on the site to render. Each entry is trimmed and given a leading slash if
            missing. Duplicates are removed; in-flight jobs for the same path are reused.
      type: object
      required:
      - paths
      title: AXPBulkRenderRequest
    AXPBulkRenderItem:
      properties:
        path:
          type: string
          title: Path
          description: The normalized path that was queued, echoed back from the request.
        job_id:
          type: integer
          title: Job Id
          description: The render job identifier. Use it when correlating with logs or webhooks.
        status:
          type: string
          enum:
          - pending
          - running
          - succeeded
          - failed
          - cancelled
          title: Status
          description: Status of the job at response time. `pending` means a fresh job was queued; `running`
            means the call coalesced onto an in-flight job for the same path.
      type: object
      required:
      - path
      - job_id
      - status
      title: AXPBulkRenderItem
    APICreateBrandInput:
      properties:
        name:
          type: string
          title: Name
        alternative_names:
          items:
            type: string
          type: array
          title: Alternative Names
          default: []
        website:
          type: string
          title: Website
        alternative_websites:
          items:
            type: string
          type: array
          title: Alternative Websites
          default: []
        description:
          type: string
          title: Description
        competitors:
          items:
            $ref: '#/components/schemas/APICompetitorInput'
          type: array
          title: Competitors
          default: []
        personas:
          items:
            $ref: '#/components/schemas/APIPersonaInput'
          type: array
          title: Personas
          default: []
        key_topics:
          items:
            type: string
          type: array
          title: Key Topics
          default: []
        status:
          type: string
          enum:
          - lead
          - prospect
          - customer
          title: Status
          default: customer
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: false
          description: When true, the brand name and alternative_names are matched against AI responses
            with exact case. Defaults to case-insensitive matching.
      type: object
      required:
      - name
      - website
      - description
      title: APICreateBrandInput
    APICreateBrandResponse:
      properties:
        id:
          type: integer
          title: Id
      type: object
      required:
      - id
      title: APICreateBrandResponse
    APICompetitorInput:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
        alternative_names:
          items:
            type: string
          type: array
          title: Alternative Names
          default: []
        websites:
          items:
            type: string
            maxLength: 2083
            minLength: 1
            format: uri
          type: array
          title: Websites
          default: []
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: false
          description: When true, name and alternative_names are matched against AI responses with exact
            case. Defaults to case-insensitive matching.
      type: object
      required:
      - name
      title: APICompetitorInput
    APIPersonaInput:
      properties:
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
      type: object
      required:
      - name
      - description
      title: APIPersonaInput
    APICompetitorCreateInput:
      properties:
        name:
          type: string
          minLength: 1
          title: Name
          description: Display name of the competitor.
        alternative_names:
          items:
            type: string
          type: array
          title: Alternative Names
          description: Alternative names or aliases for the competitor.
          default: []
        websites:
          items:
            type: string
            maxLength: 2083
            minLength: 1
            format: uri
          type: array
          title: Websites
          description: Website URLs associated with the competitor.
          default: []
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: false
          description: When true, name and alternative_names are matched against AI responses with exact
            case. Defaults to case-insensitive matching.
      type: object
      required:
      - name
      title: APICompetitorCreateInput
      description: Input model for creating a competitor.
    APICompetitorListing:
      properties:
        id:
          type: integer
          title: Id
        name:
          type: string
          title: Name
        alternative_names:
          items:
            type: string
          type: array
          title: Alternative Names
          default: []
        websites:
          items:
            type: string
          type: array
          title: Websites
          default: []
        case_sensitive:
          type: boolean
          title: Case Sensitive
          default: false
      type: object
      required:
      - id
      - name
      title: APICompetitorListing
    PageAuditCreateRequest:
      properties:
        urls:
          items:
            type: string
          type: array
          minItems: 1
          title: Urls
          description: URLs to audit
      type: object
      required:
      - urls
      title: PageAuditCreateRequest
      description: Request to create one or more page audits.
    PageAuditRecord:
      properties:
        url:
          type: string
          title: Url
        page_audit_id:
          type: string
          title: Page Audit Id
      type: object
      required:
      - url
      - page_audit_id
      title: PageAuditRecord
      description: A single page audit record.
    APIPersonaCreateInput:
      properties:
        name:
          type: string
          title: Name
          description: Display name of the persona.
        description:
          type: string
          title: Description
          description: Description of the persona.
      type: object
      required:
      - name
      - description
      title: APIPersonaCreateInput
      description: Input model for creating a persona.
    APIPersonaListing:
      properties:
        id:
          type: integer
          title: Id
        name:
          type: string
          title: Name
        description:
          type: string
          title: Description
      type: object
      required:
      - id
      - name
      - description
      title: APIPersonaListing
    APIPromptInputModel:
      properties:
        text:
          type: string
          title: Text
          description: The prompt text to track across AI platforms
        persona_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Persona Id
          description: Optional persona ID to associate with this prompt for segmented analysis
        stage:
          anyOf:
          - type: string
          - type: 'null'
          title: Stage
          description: 'The customer journey stage this prompt represents. Must match one of your brand''s
            active stages (case-sensitive display name); custom stage names are accepted. Omit to auto-classify
            against the brand''s stage definitions.


            **Default stage sets:**

            - **Intent (v1)** — `Advice`, `Awareness`, `Evaluation`, `Comparison`, `Other`

            - **Funnel (v2)** — `Awareness`, `Consideration`, `Conversion`, `Loyalty`, `Other`


            Unknown stage names return `400 Bad Request`. An explicit stage is treated as a manual selection
            and won''t be reclassified later.'
        tags:
          items:
            type: string
          type: array
          title: Tags
          description: Custom tags for categorizing and filtering prompts
          default: []
        key_topics:
          items:
            type: string
          type: array
          title: Key Topics
          description: Key topics to associate with this prompt from the brand's topic list
          default: []
        language:
          anyOf:
          - type: string
          - type: 'null'
          title: Language
          description: Lowercase ISO 639-1 code of the language the prompt text is written in (e.g. `pt`,
            `ja`, `es`). Case-insensitive; uppercase input is normalized. Invalid codes return `422 Unprocessable
            Entity`. If omitted, the language is auto-detected from the prompt text, falling back to the
            brand's default language.
        platforms:
          items:
            type: string
            enum:
            - chatgpt
            - claude
            - google_ai_overviews
            - perplexity
            - meta
            - google_ai_mode
            - google_gemini
            - copilot
            - grok
          type: array
          title: Platforms
          description: 'AI platforms to track this prompt on. If empty, defaults to all supported platforms.


            **Supported platforms:**

            - `chatgpt` - OpenAI ChatGPT

            - `claude` - Anthropic Claude

            - `google_ai_overviews` - Google AI Overviews (Search)

            - `perplexity` - Perplexity AI

            - `meta` - Meta AI

            - `google_ai_mode` - Google AI Mode

            - `google_gemini` - Google Gemini

            - `copilot` - Microsoft Copilot'
          default: []
      type: object
      required:
      - text
      title: APIPromptInputModel
      description: Input model for creating a new prompt to track AI visibility.
    PromptListing:
      properties:
        id:
          type: integer
          title: Id
          description: Unique identifier for the prompt
        text:
          type: string
          title: Text
          description: The prompt text being tracked
        stage:
          type: string
          title: Stage
          description: The customer journey stage this prompt represents. Returned as the display name
            of the brand's active stage — one of the brand's default set (`Advice`, `Awareness`, `Evaluation`,
            `Comparison`, `Other` for intent brands; `Awareness`, `Consideration`, `Conversion`, `Loyalty`,
            `Other` for funnel brands) or a custom stage name.
        persona_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Persona Id
          description: ID of the associated persona, if any
        platforms:
          items:
            type: string
            enum:
            - chatgpt
            - claude
            - google_ai_overviews
            - perplexity
            - meta
            - google_ai_mode
            - google_gemini
            - copilot
            - grok
          type: array
          title: Platforms
          description: AI platforms this prompt is tracked on
        tags:
          items:
            type: string
          type: array
          title: Tags
          description: Custom tags assigned to this prompt
        topics:
          items:
            type: string
          type: array
          title: Topics
          description: Auto-detected or assigned topics for this prompt
        created_at:
          type: string
          format: date-time
          title: Created At
          description: Timestamp when the prompt was created
      type: object
      required:
      - id
      - text
      - stage
      - persona_id
      - platforms
      - tags
      - topics
      - created_at
      title: PromptListing
      description: Represents a prompt being tracked for AI visibility, including its configuration and
        metadata.
    PageTestResponse:
      properties:
        url:
          type: string
          title: Url
        status:
          type: string
          enum:
          - pending
          - running
          - completed
          - failed
          title: Status
        result:
          anyOf:
          - $ref: '#/components/schemas/PageTestResult'
          - type: 'null'
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
      type: object
      required:
      - url
      - status
      - result
      - created_at
      - updated_at
      title: PageTestResponse
    PageTestResult:
      properties:
        version:
          type: integer
          enum:
          - 1
          - 2
          title: Version
          default: 1
        checks:
          items:
            $ref: '#/components/schemas/PageTestCheckResult'
          type: array
          title: Checks
        visitor_preview_image_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Visitor Preview Image Url
        ai_preview_markdown:
          anyOf:
          - type: string
          - type: 'null'
          title: Ai Preview Markdown
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        final_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Final Url
        assistant_statuses:
          items:
            $ref: '#/components/schemas/AssistantStatus'
          type: array
          title: Assistant Statuses
        screenshot_vs_page:
          anyOf:
          - $ref: '#/components/schemas/ScreenshotVsPage'
          - type: 'null'
        intent_vs_page:
          anyOf:
          - $ref: '#/components/schemas/IntentVsPage'
          - type: 'null'
        key_question_answers:
          items:
            $ref: '#/components/schemas/QuestionAnswer'
          type: array
          title: Key Question Answers
        access_controls_score:
          anyOf:
          - type: integer
          - type: 'null'
          title: Access Controls Score
          readOnly: true
        content_delivery_score:
          anyOf:
          - type: integer
          - type: 'null'
          title: Content Delivery Score
          readOnly: true
        content_quality_score:
          anyOf:
          - type: integer
          - type: 'null'
          title: Content Quality Score
          readOnly: true
        access_controls_succeeded:
          type: integer
          title: Access Controls Succeeded
          readOnly: true
        content_delivery_succeeded:
          type: integer
          title: Content Delivery Succeeded
          readOnly: true
        content_quality_succeeded:
          type: integer
          title: Content Quality Succeeded
          readOnly: true
        access_controls_failed:
          type: integer
          title: Access Controls Failed
          readOnly: true
        content_delivery_failed:
          type: integer
          title: Content Delivery Failed
          readOnly: true
        content_quality_failed:
          type: integer
          title: Content Quality Failed
          readOnly: true
        access_controls_total:
          type: integer
          title: Access Controls Total
          readOnly: true
        content_delivery_total:
          type: integer
          title: Content Delivery Total
          readOnly: true
        content_quality_total:
          type: integer
          title: Content Quality Total
          readOnly: true
      type: object
      required:
      - access_controls_score
      - content_delivery_score
      - content_quality_score
      - access_controls_succeeded
      - content_delivery_succeeded
      - content_quality_succeeded
      - access_controls_failed
      - content_delivery_failed
      - content_quality_failed
      - access_controls_total
      - content_delivery_total
      - content_quality_total
      title: PageTestResult
    PageTestCheckResult:
      properties:
        section:
          type: string
          enum:
          - access_controls
          - content_delivery
          - content_quality
          title: Section
        check_id:
          type: string
          enum:
          - robots_txt_present
          - robots_txt_critical_allowed
          - robots_txt_explicit_allow
          - network_bots_allowed
          - network_bot_blocking_explicit
          - page_works_without_js
          - page_loads_in_under_5s
          - meaningful_title_and_description
          - missing_javascript
          - substantial_image_content
          - mostly_video_content
          - page_length_ok
          - chatgpt_prerendered_content
          title: Check Id
        check_outcome:
          type: string
          enum:
          - passed
          - failed
          - skipped
          title: Check Outcome
        detail:
          anyOf:
          - type: string
          - type: 'null'
          title: Detail
        help_text:
          anyOf:
          - type: string
          - type: 'null'
          title: Help Text
        check_score:
          type: integer
          title: Check Score
          readOnly: true
        check_description:
          type: string
          title: Check Description
          readOnly: true
      type: object
      required:
      - section
      - check_id
      - check_outcome
      - check_score
      - check_description
      title: PageTestCheckResult
    AssistantStatus:
      properties:
        assistant:
          $ref: '#/components/schemas/Assistant'
        trainable:
          type: string
          enum:
          - ok
          - failed
          - not_applicable
          - unknown
          title: Trainable
          readOnly: true
        findable:
          type: string
          enum:
          - ok
          - failed
          - not_applicable
          - unknown
          title: Findable
          readOnly: true
        retrievable:
          type: string
          enum:
          - ok
          - failed
          - not_applicable
          - unknown
          title: Retrievable
          readOnly: true
        sample_title:
          anyOf:
          - type: string
          - type: 'null'
          title: Sample Title
          readOnly: true
        sample_description:
          anyOf:
          - type: string
          - type: 'null'
          title: Sample Description
          readOnly: true
        sample_final_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Sample Final Url
          readOnly: true
        can_retrieve:
          type: boolean
          title: Can Retrieve
          readOnly: true
        retrieval_response_time:
          anyOf:
          - type: number
          - type: 'null'
          title: Retrieval Response Time
          readOnly: true
        retrieval_block_reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Retrieval Block Reason
          readOnly: true
      type: object
      required:
      - assistant
      - trainable
      - findable
      - retrievable
      - sample_title
      - sample_description
      - sample_final_url
      - can_retrieve
      - retrieval_response_time
      - retrieval_block_reason
      title: AssistantStatus
    ScreenshotVsPage:
      properties:
        screenshot_is_representative:
          type: boolean
          title: Screenshot Is Representative
          description: Whether the screenshot has materially the same text content as the provided Markdown.
            If the screenshot is cut off at the bottom, that's OK. Compare the content you can see. Ignore
            illustrations and graphic images in the screenshot.
        difference_explanation:
          anyOf:
          - type: string
          - type: 'null'
          title: Difference Explanation
          description: If the screenshot does not match the Markdown, explain why.
        missing_content_from_markdown:
          items:
            type: string
          type: array
          title: Missing Content From Markdown
          description: If the screenshot is missing content that is present in the Markdown, explain what
            is missing.
        importance_of_missing_content:
          type: string
          enum:
          - critical
          - important
          - minor
          - irrelevant
          title: Importance Of Missing Content
          description: The importance of the missing content to the user's experience of the page.
          default: critical
      type: object
      required:
      - screenshot_is_representative
      title: ScreenshotVsPage
    IntentVsPage:
      properties:
        intent_of_page:
          anyOf:
          - type: string
          - type: 'null'
          title: Intent Of Page
[...]
